@page
@model PatentTracker.Pages.Patients.DetailsModel
@{
	ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info">Patient Details</h2>
<br />
<div class="container-fluid">
	<div class="container w-auto float-left">
		<table class="table">
			<tr>
				<th class="border-right">@Html.DisplayNameFor(s => s.patient.Name)</th>
				<td>@Model.patient.Name</td>
			</tr>
			<tr>
				<th class="border-right">@Html.DisplayNameFor(s => s.patient.Age)</th>
				<td>@Model.patient.Age</td>
			</tr>
			<tr class="border-bottom">
				<th class="border-right">@Html.DisplayNameFor(s => s.patient.BOD)</th>
				<td>@Html.DisplayFor(s => s.patient.BOD)</td>
			</tr>
			<tr>
				<td>
					<a asp-route-id="@Model.currentStage.Id" asp-page="index" class="btn btn-sm btn-success">Current Stage</a>
				</td>
				<td>
					<a asp-route-id="@Model.patient.Id" asp-page="Edit" class="btn btn-sm btn-primary">Edit</a>
					<button asp-route-id="@Model.patient.Id" asp-page-handler="Delete" class="btn btn-sm btn-danger">Delete</button>
				</td>
			</tr>
		</table>
	</div>
	<div class="container w-auto float-right">
		@if (Model.patientLogs.Count > 0)
		{
			<table class="table table-striped border">
				<tr class="table-secondary">
					<th>@Html.DisplayNameFor(s => s.patientLogs[0].Stage)</th>
					<th>@Html.DisplayNameFor(s => s.patientLogs[0].EnteredIn)</th>
					<th>@Html.DisplayNameFor(s => s.patientLogs[0].Completed)</th>
					<th>@Html.DisplayNameFor(s => s.patientLogs[0].Duration)</th>
				</tr>
				@foreach (var item in Model.patientLogs)
				{
					<tr class="@(item.IsPassedDue == true ?  "bg-danger":"") " >
						<td>@item.Stage.Name</td>
						<td>@item.EnteredIn</td>
						<td>@item.Completed</td>
						<td>@item.Duration</td>
					</tr>
				}
			</table>
		}
		else
		{
			<div class="text-danger">No Stage Found</div>
		}
	</div>
	<div class="container vw-100" style="display: flex; margin-bottom:10px">
		<div class="bar">
			@if (Model.patientLogs.Count > 0)
			{
				@foreach (var item in Model.patientLogs)
				{
			<div class="stageContainer">
				@if (item.Completed != null)
				{
					<div class="stage @(item.IsPassedDue == true ? "bg-danger" : "")"><span class="EnteredDate"> @item.EnteredIn</span></div>
					<div class="stageEndLine"><span class="CompletedDate">@item.Duration</span></div>
					<p class="stageName">@item.Stage.Name</p>
				}
				else
				{
					<div class="stage @(item.IsPassedDue == true ? "bg-danger" : "stageInProgress")"><span class="EnteredDate"> @item.EnteredIn</span></div>
					<div class="stageEndLine"><span class="CompletedDate">@item.DurationToCurrentTime</span></div>
					<p class="stageName">@item.Stage.Name</p>
				}

			</div>
				}
			}
			@*<div class="stageContainer pastDueStage">
					<div class="stage pastDueStage"> first step</div>
					<div class="stageEndLine"></div>
					<p class="stageName">Stage Name</p>
				</div>
				<div class="stageContainer">
					<div class="stage"> second step</div>
					<div class="stageEndLine"></div>
					<p class="stageName">Stage Name</p>
				</div>
				<div class="stageContainer">
					<div class="stage"> third step</div>
					<div class="stageEndLine"></div>
					<p class="stageName">Stage Name</p>
				</div>
				<div class="stageContainer">
					<div class="stage"> forth step</div>
					<div class="stageEndLine"></div>
					<p class="stageName">Stage Name</p>
				</div>
				<div class="stageContainer">
					<div class="stage"> fifth step</div>
					<div class="stageEndLine"></div>
					<p class="stageName">Stage Name</p>
				</div>*@
		</div>
	</div>
</div>